@font-face {
  font-family: "iconfont"; /* Project id 3956252 */
  src: url('iconfont.woff2?t=1741873994372') format('woff2'),
       url('iconfont.woff?t=1741873994372') format('woff'),
       url('iconfont.ttf?t=1741873994372') format('truetype'),
       url('iconfont.svg?t=1741873994372#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-fanyi3x:before {
  content: "\e67a";
}

.icon-model-lib:before {
  content: "\e615";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-guizeyinqing:before {
  content: "\e6e6";
}

.icon-mama:before {
  content: "\e61b";
}

